/* General styles */

:root {
  --color-background-title: #ffffff;
  --color-text: #212121;
  --color-logo-header-hover: #2196f3;
  --color-focus: #188ce8;
  --color-line-down-head: #ececec;
  --color-logo-studio: #000000;
  --color-mailto-tel-details: #757575;
  --color-background-hero-footer: #2f303a;
  --color-title-hero: #ffffff;
  --color-section-team: #f5f4fa;
  --color-details-about: #f5f5f5;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--color-background-title);
  font-size: 14px;
  letter-spacing: 0.03em;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Header */
.logo-web {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--color-logo-header-hover);
}

.logo-studio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--color-logo-studio);
}

.header-list-link {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.contact-list {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--color-mailto-tel-details);
}

.header-list-link:hover,
.header-list-link:focus {
  color: var(--color-logo-header-hover);
}

.hero {
  background: var(--color-background-hero-footer);
}

.title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  color: var(--color-background-title);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--color-background-title);
  cursor: pointer;
}

.header-button {
  background: var(--color-logo-header-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.header-button:hover,
.header-button:focus {
  background-color: var(--color-focus);
}

/* Main */

/* Spesials */
.about-details {
  background: var(--color-details);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list-details-title {
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--color-text);
}

.description-details {
  line-height: calc(24 / 14);
  color: var(--color-mailto-tel-details);
}

/* Employment */

.about-employment {
  background: var(--color-details-about);
}

.title-about {
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--color-text);
}

/* Team */

.abput-team {
  background: var(--color-section-team);
}

.title-about-team {
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--color-text);
}

.team-title {
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--color-text);
}

.about-team-title {
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--color-mailto-tel-details);
}

/* Portfolio */

.btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  color: var(--color-text);
  cursor: pointer;
}

.btn:hover,
.bnt:focus {
  color: var(--color-background-title);
}

.btn-active:hover,
.btn-active:focus {
  background: var(--color-logo-header-hover);
  color: #ffffff;
}

/* Proects */

.title-proect {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--color-text);
}

.about-proect {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--color-mailto-tel-details);
}

/* Footer */

footer {
  background: var(--color-background-hero-footer);
}

.foter-studio {
  font-family: "Raleway";
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--color-background-title);
}

.adress-list {
  font-style: normal;
  line-height: calc(24 / 14);
  color: var(--color-background-title);
}

.adress-contact-list {
  font-style: normal;
  line-height: calc(24 / 14);
  color: rgba(255, 255, 255, 0.6);
}
